* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgb(17, 16, 16);    
}

/* right and left page */
.main {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
}
.main-section {
    flex: 75%; 
    padding: 20px;
    box-sizing: border-box;

}
.sidebar {
    flex: 25%; 
    padding: 20px;
    box-sizing: border-box;
    max-width: 25%; 
}
.sidebar-info {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center; 
    padding: 20px; 
}




/* left side */
aside {
    background-color: rgba(30,30,30,0.85);
    border-radius: 30px;
    display: inline-block;
    padding: 20px 20px;
    margin: 20px;
}


.email {
    background-color: rgba(55, 48, 48, 0.436);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
.phone, .birthday, .location, .email {
    background-color: rgba(55, 48, 48, 0.436);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    justify-content: center;
  }
}


/*
header {
    display: flex;
    justify-content: space-between;
}

*/




nav ul li a:hover {
    color: gold;
}


.right-section {
    background-color: rgba(30,30,30,0.85);
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px;
    margin: 40px;
}


/* about me section */
.about-me {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 20px 30px;
    color: rgba(255, 217, 0, 0.821);
}
.more-info-aboutme {
    padding: 10px 10px;
    margin: 20px;
    gap: 5px;
}






/* what i'am doing */
.doing {
    padding: 10px 20px;
    margin: 20px;
    color: rgba(255, 217, 0, 0.821);
}

.doing-parts {
    background-color: rgba(55, 48, 48, 0.436);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
}


/* testimonials */
.testimonials {
    padding: 10px 20px;
    margin: 20px;
    font-size: 30px;
    color: rgba(255, 217, 0, 0.821);
}

.testimonials-parts {
    background-color: rgba(55, 48, 48, 0.436);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
}



/* clients */
.clients {
    padding: 10px 20px;
    margin: 20px;
    font-size: 30px;
    color: rgba(255, 217, 0, 0.821);
}




/*-----------------------------------------------------------*/
/* resume */
.resume {
    background-color: rgba(55, 48, 48, 0.436);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
}
.resume-heads {
    padding: 5px;
    color: rgba(255, 217, 0, 0.821);
}
.resume-div {
    padding: 5px;
    margin: 10px 10px;
}






/*----------------------------------------------------------*/
/* contact page */
.body-contact {
    background-color: rgb(17, 16, 16);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact {
    background-color: rgba(30,30,30,0.85);
    width: 80%;
    height: 80%;
    border-radius: 30px;
    padding-bottom: 8px;
}

nav .contact-me {
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 20px 30px;
    position: relative; 
    display: inline-block; 
    padding-bottom: 5px; 
}

  .contact-me::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 5px; /* سمك الخط */
    width: 50px; /* طول الخط */
    background-color: gold; 
    border-radius: 2px;
  }





.nav-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    margin: 10px 30px;
}

nav ul li {  
    display: inline-block;
    margin: 0 6px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover {
    color: gold;
}


/* form section */
.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

form{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

form input {
    background-color: rgba(30,30,30,0.85);
    border-radius: 10%;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 200px;
    height: 30px;
    flex-grow: 1;
}

form button {
    background-color: rgba(30,30,30,0.85);
    color: white;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
    flex-grow: 1;
}

form button:hover {
    color: gold;
}
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/* portfolio */
.portfolio {
    padding: 10px 20px;
    margin: 20px;
    font-size: 32px;
    height: 100hv;;
}
.photos-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
  }
  .image-item {
    flex: 0 1 calc(33.33% - 10px); 
    box-sizing: border-box;
    text-align: center;
  }
  .image-item img {
    width: 100%; 
    height: auto;
    display: block;
    border-radius: 20px;
    justify-content: center; 
  }
  .image-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
  }
@media screen and (max-width: 600px) {
     .photos-section {
        flex-direction: column;
     }
     .image-item {
        width: 100%;
     }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .photos-section {
        display: flex;
    }
    .image-item {
        flex: 50%;
    }
}